# Server environment variables & security secrets
JWT_SECRET=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
WEBHOOK_SECRET=
DOTFY_API_KEY=
DOTFY_BASE_URL=https://app.dotfy.com.br
DOTFY_WEBHOOK_SECRET=
ALLOW_PAYMENT_SIMULATION=false
